.contentHead {
  font-size: 1.7rem;
  font-weight: 600;
}
.contentPara {
  opacity: 0.9;
}
.contentHead,
.contentPara {
  width: 32vw;
}

@media (max-width: 1200px) {
  .contentHead,
  .contentPara {
    width: 81vw;
  }
}
